//avatar


.classFour {
    background-color: rgb(46, 135, 250) !important;
}
.classTwo {
    background-color: rgb(193, 196, 46) !important;
}
.classThree {
    background-color: rgb(193, 196, 46) !important;
}
.classZero{
    background-color: rgb(0, 0, 0) !important;
}
.classWicket{
    background-color: rgb(238, 54, 54) !important;
}
.classSix{
    background-color: rgb(9, 199, 3) !important;
}
.classOne{
    background-color: rgb(193, 196, 46) !important;
}
.classEndofOver{
    background-color: rgb(255, 116, 243) !important;
}
.classStart{
    background-color: rgb(255, 116, 243) !important;
}
.classStart{
    background-color: rgb(255, 116, 243) !important;
}
.classExtra{
    background-color: rgb(214, 159, 40) !important;
}

// Header card
.headerFour {
    background-color: rgba(46, 135, 250, 0.2) !important;
}
.headerTwo {
    background-color: rgba(193, 196, 46, 0.2) !important;
}
.headerThree {
    background-color: rgba(193, 196, 46, 0.2) !important;
}
.headerZero{
    background-color: rgba(0, 0, 0, 0.2) !important;
}
.headerWicket{
    background-color: rgba(238, 54, 54, 0.2) !important;
}
.headerSix{
    background-color: rgba(9, 199, 3, 0.2) !important;
}
.headerOne{
    background-color: rgba(193, 196, 46, 0.2) !important;
}
.headerEndofOver{
    background-color: rgba(255, 116, 243, 0.2) !important;
}
.headersStart{
    background-color: rgba(255, 116, 243, 0.2) !important;
}
.headerStart{
    background-color: rgba(255, 116, 243, 0.2) !important;
}
.headerExtra{
    background-color: rgba(214, 159, 40, 0.2) !important;
}