//avatar


.classFour {
    background-color: rgb(46, 135, 250);
}
.classTwo {
    background-color: rgb(193, 196, 46);
}
.classThree {
    background-color: rgb(193, 196, 46);
}
.classZero{
    background-color: rgb(0, 0, 0);
}
.classWicket{
    background-color: rgb(238, 54, 54);
}
.classSix{
    background-color: rgb(9, 199, 3);
}
.classOne{
    background-color: rgb(193, 196, 46);
}
.classEndofOver{
    background-color: rgb(255, 116, 243);
}
.classStart{
    background-color: rgb(255, 116, 243);
}
.classStart{
    background-color: rgb(255, 116, 243);
}
.classExtra{
    background-color: rgb(214, 159, 40);
}