// Main

@import './styles/avatar.scss';
@import './styles/home.scss';

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.link-active {
    color: #ffdc19 !important;
}

.index,
#root {
    margin: 0;
    height: 100%;
    width: 100%;
}

._loading-overlay {
    background-color: #0000007a;
    width: 100%;
    height: 100%;
}

.svgfondo { 
    background-color:#07bdeb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

main {
    margin: 0;
    height: 100%;
    width: 100%;
    margin-top: 60px;
}

.batsman {
    margin: 15px 0;
    color: #2a2a2a;
    text-transform: uppercase;
    font-family: 21px;
    font-weight: 600;
}

div,
span,
table,
a,
button {
    font-family: 'Poppins', sans-serif;
}
